.advantages {
  width: 280px;
  margin: 0 auto;
}

.advantages__headlinefont {
  font-size: 36px;
  line-height: 60px;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
    margin: 0 auto;
  }

  .advantages__headline {
    margin-left: 30px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 30px;
  }

  .advantages__item {
    width: 325px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1440px;
    margin: 0 auto;
  }

  .advantages__headline {
    margin-left: 110px;
  }

  .advantages__list {
    margin: 0 110px;
  }

  .advantages__item {
    width: 245px;
  }
}
