.header {
  width: 320px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 10px;
}

.header__logo {
  margin-left: 20px;
}

.header__logo img {
  width: 190px;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    width: 708px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5px;
  }

  .header__logo {
    margin: 0;
  }

  .header__logo img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 45px;
    width: 1220px;
  }

  .header__logo img {
    width: 202px;
    height: 59px;
  }
}
