.main-navigation {
  margin: 0;
  position: relative;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
}

.main-navigation__item {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 24px 0;
  border-top: 1px solid #e5e5e5;
}

.main-navigation__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.main-navigation__toggle {
  position: absolute;
  top: -30px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 25px;
  border: none;
  background-color: #ffffff;
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-navigation--opened .main-navigation__toggle {
  top: -30px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }

  &--active {
    display: block;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__item {
    border: none;
    padding: 12px 0;
  }

  .main-navigation__item a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
  }

  .main-navigation__item--active {
    border-bottom: 2px solid #68b738;
  }

  .main-navigation__list {
    width: 438px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__list {
    width: 477px;
    background-color: #64a83b;
  }

  .main-navigation__item a {
    font-size: 20px;
    color: #ffffff;
  }

  .main-navigation__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
