.programs__list {
  background-color: $secondary-color;
  list-style: none;
}

.programs__headlinefont {
  font-size: 24px;
  line-height: 37px;
}

.programs__reffont {
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .slogan {
  width: 768px;
  margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
    .slogan {
      width: 1440px;
      margin: 0 auto;
      }
}
