.index-headlinefont {
    font-size: 36px;
    line-height: 36px;
}

.advantages-font {
    font-size: 24px;
    line-height: 37px;
}

.catalogref-font {
    font-size: 16px;
    line-height: 16px;
}

.section-font {
    font-size: 36px;
    line-height: 60px;
}

.catalog-itemfont {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.catalogtable-font {
    font-size: 12px;
    line-height: 16px;
}

.slogan-font {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
